<style>
  body{
    margin:0;
    padding: 0;
    
  }
  
  #form-group{
    position: absolute;
    top: 50%;
    left: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
width: 400px;
height:500px;
padding:80px 40px;
background-color: rgab(0,0,0,0,4);


  }
  h2{
    position: absolute;
    top: 2rem;
    left: 7rem;
    color:azure;
    font-size: 25px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 0 0 20px;
    text-align: center;
  }
  .input{
    width: 100%;
    margin-bottom: 20px;
  }
  #form-group input[type=email],
  #form-group input[type=password]{
    border: none;
    border-bottom: 1px solid #fff;
    background:transparent;
    outline: none;
    height: 35px;
    color: #fff;
    font-size:15px;
  }
  p{
    color: white;
    font-weight: bolder;
  }
button{
  position: absolute;
    margin: auto;
    left: 14px;
    top: 281px;
    background-color: red;
    width: 94%;
    height: 40px;
    font-weight: bolder;
    color: antiquewhite;
    border-radius: 25px;
}

</style>



<div id="form-group" class="backdrop-blur-sm bg-white/30 ...">
  <h2>Contact Form</h2>
  <form class="form" action="">
    
  <p>Email</p>
  <input id="emails" class="input" type="email" placeholder="Email">
  <p>Password</p>
  <input id="password" class="input" type="password" placeholder="Password">
  <p><input  type="checkbox">Remember Password</p>
  <button type="button" (click)="hellow()">Loging</button>
  </form>
</div>
